body{
    font-family: 'DM Sans';
    background-color: #EDEFF0;
}

h1{
    font-weight: 700;
    text-transform: capitalize;
}

.banner-left {
    background: url('/assets/images/bg-flower.png');
    background-repeat: no-repeat;
    background-size: cover;
}


form input {
    border-radius: 20px 0px 0px 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
   

/**** Slider CSs *******/

.swiper {
    width: 1070px;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 200px;
    height: 265px;
    object-fit: cover;
  }

  .icon-heart {
    background-color: rgb(252, 96, 17, 0.38);
  }
  .icon-heart i {
    color: white;
  }

  .icon-heart-botom {
    background-color: rgb(255, 255, 255, 0.38);
  }

  .icon-heart-botom i {
    color: white;
  }

  .header-text {
    font-size: 22px;
    color: #0c1b2b;
  }